/* Josefin Sans */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

a:hover,
button:hover {
  opacity: 0.8;
}
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fbc700;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* tooggle switch css  */

.recPasswrd input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.recPasswrd label {
  cursor: pointer;
  /* text-indent: -9999px; */
  width: 40px;
  height: 20px;
  background: #ececec;
  display: block;
  border-radius: 100px;
  position: relative;
}
.recPasswrd label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.recPasswrd input:checked + label {
  background: #bada55;
}
.recPasswrd input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}
.recPasswrd label:active:after {
  width: 30px;
}
.sideBarMain a {
  width: 100%;
  padding: 0 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
a.sideActive {
  background: #fbc700;
  /* padding:0 40px; */
  text-align: center;
  color: #fff;
  position: relative;
}
a.sideActive::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 5px;
  height: 100%;
  background: #fbc700;
}
.searchSvg {
  filter: brightness(0) saturate(100%) invert(49%) sepia(1%) saturate(0%)
    hue-rotate(92deg) brightness(100%) contrast(90%);
}

.inventCard {
  box-shadow: 0px 4px 4px 0px #00000040;
}
.myCard {
  box-shadow: 6px 6px 54px 0px #0000000d;
  padding: 37px 32px;
  border-radius: 16px;
  background: #fff;
}

.productsTable tbody tr:nth-of-type(even) {
  background: #f1f4f9;
}
.trActive {
  background: #f1f4f9;
  border: 1px solid #cacaca33;
  border-left: 0;
  border-right: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.trActive td {
}

/* tooggle switch css // */

/* upload img css  */
.uploadImgWrap {
  position: relative;
  width: 220px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
.imgGrayBox {
  border-radius: 50%;
  background: #ececee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.uploadImgWrap:hover {
  cursor: pointer;
}
.uploadImgWrap img {
  height: 40px;
  border-radius: 50%;
}
.uploadImgWrap input[type="file"] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 50%;
}
/* upload img css end */

/* radio buttons clickable css  */
.box {
  /* min-width: 39px; */
  width: 12%;
  height: fit-content;
  /* background-color: #e0e0e0; */
  /* border: 2px solid transparent; */
  /* margin: 0px 3px; */
  cursor: pointer;
  position: relative;
}

.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-break: break-all;
}
.box-content img {
  width: 35px;
  height: 35px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"]:checked + .box-content img {
  /* background-color: #90caf9; */
  box-shadow: 0 0 16px #fbc700;
  border-radius: 50%;
}

input[type="radio"]:checked + .box-content {
  /* content: '\2713'; 
  font-size: 24px;
  color: #fff; */
}
/* radio buttons clickable css end */
.navbar.active {
  left: 0;
  opacity: 1;
}
/* .open-sidebar {
  overflow: hidden;
} */

@media only screen and (max-width: 991.98px) {
  .header-logo {
    position: absolute;
    top: 20px;
    left: 0;
  }
  .navbar {
    background: #e9e6d6;
    height: 100vh;
    left: -40vw;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px 0 30px 0;
    position: fixed;
    top: 0;
    width: 40vw;
    z-index: 1000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    transition: all 0.3s;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 767.98px) {
  .navbar {
    height: 100vh;
    left: -100vw;
    width: 100vw;
  }
}
