/* Josefin Sans */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");




a:hover , button:hover{
  opacity: 0.8;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FBC700; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}


/* tooggle switch css  */

.recPasswrd input[type=checkbox] {
	 height: 0;
	 width: 0;
	 visibility: hidden;
}
 .recPasswrd label {
	 cursor: pointer;
	 /* text-indent: -9999px; */
	 width: 40px;
	 height: 20px;
	 background:#ECECEC;
	 display: block;
	 border-radius: 100px;
	 position: relative;
}
 .recPasswrd label:after {
	 content: '';
	 position: absolute;
	     top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
 .recPasswrd input:checked + label {
	 background: #bada55;
}
 .recPasswrd input:checked + label:after {
	 left: calc(100% - 1px);
	 transform: translateX(-100%);
}
 .recPasswrd label:active:after {
	 width: 30px;
}

 



/* tooggle switch css // */