@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: josefin Sans;
  line-height: 1.5;
  font-weight: 400, 600, 800, 900;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-between-start {
    @apply flex justify-between items-start;
  }

  .flex-start {
    @apply flex justify-start items-start;
  }
  .flex-end {
    @apply flex justify-end items-start;
  }
  .flex-start-center {
    @apply flex justify-start items-center;
  }

  .flex-col-start {
    @apply flex flex-col justify-start items-start;
  }

  .flex-col-between {
    @apply flex flex-col justify-between items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

.landing {
  /* Background image */
  background-image: url(./assets/LandingPageImages/backWood.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  /* Height and Width */
  min-height: 765px; /* Adjust based on your Figma design */
  width: 100%; /* Take full width of the container */

  /* Padding */
  /* Adjust padding as needed */
  /* padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px; */

  /* Positioning if necessary */
  /* position: relative; */
}
